<!DOCTYPE html>
<html>
<head>
    <title>admin</title>
</head>
<body>
    <h2>Register</h2>
    <p>{{msg}}</p>
    <form method="post">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" required><br>

        <label for="username">Username:</label>
        <input type="text" name="matricula" id="matricula" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required><br>

        <label for="peso">Peso:</label><br>
        <input type="number" step="0.1" name="peso" id="peso"><br>

        <label for="altura">Altura:</label><br>
        <input type="number" name="altura" id="altura" placeholder="Coloque a altura em CM"><br>

        <label for="esportes">Esportes:</label>
        <br>
        <select name="esportes" id="esportes" multiple>
            {% for esporte in esportes %}
                <option value="{{ esporte.id }}">{{ esporte.nome }}</option>
            {% endfor %}
        </select><br>
        <br>
        <br>
        <label for="lesoes">Lesões:</label><br>
        {% for value, display in lesoes_list %}
            <input type="checkbox" name="lesoes" value="{{ value }}"> {{ display }}<br>
        {% endfor %}
        <br>

        <label for="objetivos">Objetivos:</label><br>
        <textarea type="text" name="objetivos" id="objetivos"></textarea><br>

        <select name="experiencia" id="experiencia" multiple>
            <option value="Iniciante">Iniciante</option>
            <option value="Intermediario">Intermediario</option>
            <option value="Avançado">Avançado</option> 
        </select><br>

        <select name="role" id="role">
            <option value="Default">Default</option>
            <option value="Admin">Admin</option>
        </select>
        <button type="submit">Register</button>
    </form>
</body>
</html>
