{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treino</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    {% include "parciais/header.html" %}

    <div class="max-w-md mx-auto mt-20">
        <div class="bg-white rounded-lg shadow-lg p-4">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Treino criado em {{ treino.data }}</h2>
            {% for serie in treino.series.all %}
                <div class="flex justify-between items-center p-3 border-[#6D0000] rounded-lg mb-2" style="border-width: 1px;">
                    <div>
                        <a href="{% url 'detalhe-exercicio' serie.id serie.exercicio.id %}"><p class="text-[#6D0000] font-semibold">{{ serie.exercicio.nome }}</p></a>
                        <p class="text-sm text-[#6D0000]">{{ serie.numero_series }}x{{ serie.repeticoes_por_serie }}</p>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-[#6D0000]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                    </svg>
                </div>
            {% endfor %}
            {%if treino.aluno == aluno%}
            <div class="flex justify-center mt-4">
                <a href="{% url 'concluir-treino' treino.id %}"><button class="bg-[#6D0000] text-white font-bold py-2 px-6 rounded-full hover:bg-[#8B0000]">Concluir</button></a>
            </div>
            {%endif%}

            {%if treino.personal == request.user%}
            <div class="flex justify-center mt-4 gap-10">
                <a href="{% url 'edit-treino' treino.id %}"><button class="bg-[#6D0000] text-white font-bold py-2 px-6 rounded-full hover:bg-[#8B0000]">Alterar Treino</button></a>
                <a href="{% url 'aprovar-treino' treino.id %}"><button class="bg-[#6D0000] text-white font-bold py-2 px-6 rounded-full hover:bg-[#8B0000]">Aprovar Treino</button></a>

            </div>

            
            {%endif%}

        </div>
    </div>

</body>
</html>
